<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eatdwell</title>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="background">

  <div class= "logo">
    <div class="text-center "></div>
      <a href="/">
        <h1>Eat
          <img id="penguin" src="{{ url_for('static', filename='img/eatdwell.png') }}" alt="Logo" style="height:200px;" />
          Dwell</h1>
      </a>
    </div>
  </div>
</div>
<div id="reactEntry">
  Loading reactEntry...
</div>
<!-- Load JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
